/* .container{
    display: grid;
    grid-template-columns: 8% auto 8%;
    grid-template-rows: 9.5% auto auto auto auto auto;
    grid-row-gap: 15px;
}
header{
    grid-column: 1/4;
    grid-row:1;
    height: 100px;
}

header img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

a{
    text-decoration: none;
    color: gray;
}
.menu-item.is-active a {
    color: black;
}
nav ul{
    list-style-type: none;
  }

nav {
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 1em;
    padding: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    /* border-bottom: 1px solid black; */
/* }
.navigation li{
    display: inline-block;
    text-align: center;
    padding: 0 1em 0 0;
    margin: 0;
    color: black;
}
h1{
font-family: Didot;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.2em;
margin-bottom: 8%;
}

h2{
    font-family: Didot;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    margin: 15px auto;
    }
p {
    grid-column: 2;
    grid-row: 3;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 50px;
    text-align: center;

}

img{
    grid-column: 2;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

}

.all h1{
    margin-top: 35px;
}
.all li{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

footer{
    grid-column: 1/4;
    grid-row: 3/ auto;
}
.social-buttons{
    grid-column: 1/4;
    grid-row: 3/4;
    margin: 0 3em;
    padding: 0;
} 
svg{
    width:30px;
    padding: 10px;
}
footer li{
    display: inline-block;
    margin: auto;
    
}
footer nav{
    margin: 50px auto;
} */ 

.container{
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 200px auto auto auto auto auto;
    grid-row-gap: 15px;
}
header{
    grid-column: 1/4;
    grid-row:1;
    height: 100px;
}

header img {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

a{
    text-decoration: none;
    color: gray;
}
.menu-item.is-active a {
    color: black;
}
nav ul{
    list-style-type: none;
  }

nav {
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 1em;
    padding: 0; 
    text-align: center;
    margin: auto;
    width:100%;
}
.navigation li{
    display: inline-block;
    text-align: center;
    padding: 0 1em 0 0;
    margin: 0;
    color: black;
}

h1{
font-family: Didot;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.2em;
margin-bottom: 8%;
}

h2{
    font-family: Didot;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    margin: 15px auto;
    }
p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;

}

img{
    grid-column: 2;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

}

.all h1{
    margin-top: 35px;
}
.all li{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
footer{
    grid-column: 1/4;
    grid-row: 3/ auto;
}
.social-buttons{
    grid-column: 1/4;
    grid-row: 3/4;
    margin: 0 3em;
    padding: 0;
} 
svg{
    width:30px;
    padding: 10px;
}
footer li{
    display: inline-block;
    margin: auto;
    
}
footer nav{
    margin: 50px auto;
}
.footer-copyright{
    text-align: center;
    padding-bottom: 50px;
}
main ul{
    padding-left: 30px;
}
@media screen and (min-width: 700px){
    img{
        max-width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  }
